
canvas{
     width: 990px;
     height: 650px;
     border: 2px solid black;
     background-color: #ffffff;
     box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);

}
#pontszam{
     font-size: 25px;
     color: white;
}
#canvas-container {
     width: 100%;
     text-align:center;
  }

#start h1{
     color: #466eb3;
     font-size: 45px;
}
progress{
     width: 990px;
     align-content: center;
}


#progressdiv{
     text-align: center;
     margin-bottom: 20px;
}

#start{
     text-align: center;
     margin-top: 5%;
}
#start h1{
     margin-bottom: 50px;
     letter-spacing: 2px;

}
.startbtn, .topplistabtn{
     background-color: #25a628;
     border: none;
     border-radius: 5px;
     color: white;
     font-size: 30px;
     margin-right: 20px;
     padding: 10px 35px;
}
.startbtn:hover, .topplistabtn:hover, #backbtn:hover{
     background-color: #157017;;
}

#dorapng{
     width: 190.8px;
     height: 240px;
}

#imgdiv{
     margin-top: 200px;
}

#imgdiv img{
     width: 190.8px;
     height: 240px;
}
#game{
     text-align: center;
}

#gameOver{
     margin-top: 4%;
     text-align: center;
}

#level{
     color: darkgray;
     font-size: 25px;
}

form{
     margin-top: 3%;

}
input[type="text"]{
     padding-left: 15px;
     padding-top: 10px;
     padding-bottom: 10px;
     font-size: 25px;
     width: 15%;
}

#submitbtn{
     margin-top: 20px;
     font-size: 25px;
     width: 15%;
}

#highScore{
     margin-top: 65px;
}
table{
     font-size: 20px;
     margin-left: auto;
     margin-right: auto;
     width: 30%;
}
table th{
     background: #fade3b;
}
table td, th{
     border: 1px solid #ddd;
}
#actScore p {
     font-size: 25px;
}

#backbtn{
     margin-top: 30px;
     background-color: #25a628;
     border: none;
     border-radius: 5px;
     color: white;
     font-size: 20px;
     padding: 10px 35px;
}

@media screen and (max-height: 1600px) {
     #pontszam{
          margin-top: 0px;
          margin-bottom: -15px;
     }
     #level{
          margin-bottom: 5px;
     }
     #progressdiv{
          margin-bottom: 8px;
     }
}

