
canvas{
     width: 990px;
     height: 650px;
     border: 1px solid black;
     background-color: bisque;

}
#canvas-container {
     width: 100%;
     text-align:center;
  }

progress{
     width: 990px;
     align-content: center;
}

#progressdiv{
     text-align: center;
     margin-bottom: 20px;
}

#start{
     text-align: center;
     margin-top: 10%;
}
#start h1{
     margin-bottom: 50px;
     letter-spacing: 2px;

}
#startbtn{

     padding: 0.5em 1.7em;
     margin: 0 0.1em 0.1em 0;
     border: 0.16em solid green;
     background-color: green;
     border-radius: 2em;
     box-sizing: border-box;
     text-decoration: none;
     font-weight: 300;
     color: #ffffff;
     text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
     text-align: center;
     transition: all 0.2s;
     font-size: 2.5em;
}
#startbtn:hover {
     border-color: darkgreen;
}


#dorapng{
     width: 190.8px;
     height: 240px;
}

#imgdiv{
     margin-top: 125px;
}
#game{
     text-align: center;
}

#gameOver{
     margin-top: 4%;
     text-align: center;
}

#level{
     color: darkgray;
     font-size: 25px;
}

form{
     margin-top: 3%;

}
input[type="text"]{
     padding-left: 15px;
     padding-top: 10px;
     padding-bottom: 10px;
     font-size: 25px;
     width: 15%;
}

#submitbtn{
     margin-top: 20px;
     font-size: 25px;
     width: 15%;
}

#highScore{
     margin-top: 65px;
}
table{
     font-size: 20px;
     margin-left: auto;
     margin-right: auto;
     width: 30%;
}
table th{
     background: #fade3b;
}
table td, th{
     border: 1px solid #ddd;
}
#actScore p {
     font-size: 25px;

}